.DS_Store
*.pyc
imagezmq/
pycache
/Testing/ZMQ\ Video\ Test/*.zip
*.vscode
RobotController/__pycache__/*
Testing/Website Testing/Robot 3D/Full-Robot-Body.blend
Testing/Website Testing/Robot 3D/Full-Robot-Body.blend1
Testing/Website Testing/Robot 3D/Full-Robot-Body.stl
Testing/v4l2 Testing/cam-*.jpg
