<html>
  <head>
    <title>Robot Controller</title>
    <!-- Utilites and Communication -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

    <!-- Visualization and Display -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/svg.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont/material-icons.css') }}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Copilot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Blueshift Robotics</a>
              </li>
          </ul>
      </div>
  </nav>
  <div class="wrapper d-flex">
      <div class="sideMenu bg-mattBlackLight">
          <div class="sidebar">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a href="#" class="nav-link px-2">
                          <i class="material-icons icon">videocam</i>
                          <span class="text">Video</span>
                      </a>
                  </li>
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a href="#" class="nav-link px-2">
                              <i class="material-icons icon">videogame_asset</i>
                              <span class="text">Copilot</span>
                          </a>
                      </li>
                      <ul class="navbar-nav">
                          <li class="nav-item">
                              <a href="#" class="nav-link px-2">
                                  <i class="material-icons icon">visibility</i>
                                  <span class="text">Computer Vision</span>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#" class="nav-link px-2">
                                  <i class="material-icons icon">settings</i>
                                  <span class="text">Settings</span>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#" class="nav-link px-2 sideMenuToggler">
                                  <i class="material-icons icon expandView">view_list</i>
                                  <span class="text">Resize</span>
                              </a>
                          </li>
                      </ul>
          </div>
      </div>

      <div class="content">
          <main>
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-3">
                          <div class="bg-mattBlackLight my-3 p-3 mx-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                          </div>
                          <div class="bg-mattBlackLight my-3 p-3 mx-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="bg-mattBlackLight my-3 p-3 mx-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                          </div>
                          <div class="bg-mattBlackLight my-3 p-3 mx-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="bg-mattBlackLight my-3 p-3 mx-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                          </div>
                          <div class="bg-mattBlackLight my-3 p-3 mx-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                              Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                              in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                              sunt earum tempora veniam.
                          </div>
                      </div>
                  </div>
              </div>
          </main>
      </div>
  </body>
  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('updateAirNode', handleUpdates);

    function handleUpdates(data) {
      var parsed = JSON.parse(data);
      console.log(parsed);
      switch (parsed.dataType) {
        case "log":
          console.log(JSON.stringify(parsed.data));
        case "sensors":
          var sensorData = parsed.data;
          console.log(JSON.stringify(sensorData));
          updateAttitude(sensorData.gyro);
      }
    }

    setInterval(function() {socket.emit("getAirNodeUpdates",Date.now())}, 16);
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/attitude.js') }}"></script>
</html>
