<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Computer Vision Monitor</title>
  <!-- Utilites and Communication -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

  <!-- Visualization and Display -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont/material-icons.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}" />

  <style>
    #cvCamDisplay {
      width: 100%;
      height: auto;
    }

    #screenshotCnvs {
      width: 100%;
      height: auto;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Computer Vision Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Blueshift Robotics</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="wrapper active d-flex">
    <div class="sideMenu bg-mattBlackLight">
      <div class="sidebar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/pilot" class="nav-link px-2">
              <i class="material-icons icon">videocam</i>
              <span class="text">Pilot</span>
            </a>
          </li>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/copilot" class="nav-link px-2">
                <i class="material-icons icon">videogame_asset</i>
                <span class="text">Copilot</span>
              </a>
            </li>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/cv" class="nav-link px-2">
                  <i class="material-icons icon">visibility</i>
                  <span class="text">Computer Vision</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2">
                  <i class="material-icons icon">settings</i>
                  <span class="text">Settings</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2 sideMenuToggler">
                  <i class="material-icons icon expandView">view_list</i>
                  <span class="text">Resize</span>
                </a>
              </li>
            </ul>
      </div>
    </div>

    <div class="content">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5">
              <div class="bg-mattBlackLight my-3 p-3 mx-0">
                <div class="text-center">
                  <img id="cvCamDisplay" src="{{ url_for('static', filename='assets/noCamera.png') }}">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="bg-mattBlackLight my-3 p-3 mx-0">
                <h4>Camera</h4>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="camera-source" value="mainCam" autocomplete="off" checked> Front
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="camera-source" value="bkpCam1" autocomplete="off"> Back
                  </label>
                </div>
                <button type="button" class="btn btn-secondary" id="screenshotBtn">Screenshot</button>
                <h3 class="mt-5">Computer Vision</h3>
                <h6>Transect Line Visualization Level</h6>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn btn-secondary">Original</button>
                  <button type="button" class="btn btn-secondary">Mask</button>
                  <button type="button" class="btn btn-secondary">Smooth</button>
                  <button type="button" class="btn btn-secondary active">Contours</button>
                </div>
                <h6 class="mt-3">Coral Health Visualization Level</h6>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn btn-secondary">Difference</button>
                  <button type="button" class="btn btn-secondary">Smooth</button>
                  <button type="button" class="btn btn-secondary active">Change</button>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="bg-mattBlackLight my-3 p-3 mx-0">
                <div class="text-center">
                  <canvas id="screenshotCnvs" width="1920" height="1080"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="bg-mattBlackLight my-3 p-3 mx-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
              </div>
            </div>
            <div class="col-md-4">
              <div class="bg-mattBlackLight my-3 p-3 mx-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
              </div>
            </div>
            <div class="col-md-4">
              <div class="bg-mattBlackLight my-3 p-3 mx-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                sunt earum tempora veniam.
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script id="screenshot_Script">
      var selectedCamera = "mainCam";

      var canvasScreenshot = document.getElementById('screenshotCnvs');
      var ctxScreenshot = canvasScreenshot.getContext('2d');

      var img = new Image();
      img.src = "{{ url_for('static', filename='assets/noCamera.png') }}";

      img.onload = function () {
        ctxScreenshot.drawImage(img, 0, 0);
      }

      function takeScreenshot() {
        img.src = "/videoFeed/"+selectedCamera;

        img.onload = function () {
          ctxScreenshot.drawImage(img, 0, 0);
        }
      }
    </script>
    <script id="main_Script">
      $(document).ready(function () {
        $("#screenshotBtn").click(function () {
          takeScreenshot();
        });

        // Switch computer vision source based on radio buttons
        $('input[type=radio][name=camera-source]').change(function () {
          if (this.value == 'mainCam') {
            selectedCamera = "mainCam";
          }
          else if (this.value == 'bkpCam1') {
            selectedCamera = "bkpCam1";
          }
        });

        // Set inital computer vision display source
        $("#cvCamDisplay").attr("src", "/videoFeed/cvCam");
      });
    </script>
</body>

</html>