<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Pilot Monitor</title>
  <!-- Utilites and Communication -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

  <!-- Visualization and Display -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/svg.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/three.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont/material-icons.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}" />

  <style>
    #camDisplayFront {
      width: 87%;
      height: auto;
    }

    #camDisplayBack {
      width: 87%;
      height: auto;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
      #camDisplayFront {
        width: 90%;
        height: auto;
      }

      #camDisplayBack {
        width: 90%;
        height: auto;
      }
    }

    @media (min-width: 1921px) and (max-width: 2560px) {
      #camDisplayFront {
        width: 77%;
        height: auto;
      }

      #camDisplayBack {
        width: 77%;
        height: auto;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Pilot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Blueshift Robotics</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="wrapper active d-flex">
    <div class="sideMenu bg-mattBlackLight">
      <div class="sidebar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/pilot" class="nav-link px-2">
              <i class="material-icons icon">videocam</i>
              <span class="text">Pilot</span>
            </a>
          </li>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/copilot" class="nav-link px-2">
                <i class="material-icons icon">videogame_asset</i>
                <span class="text">Copilot</span>
              </a>
            </li>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/cv" class="nav-link px-2">
                  <i class="material-icons icon">visibility</i>
                  <span class="text">Computer Vision</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2">
                  <i class="material-icons icon">settings</i>
                  <span class="text">Settings</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2 sideMenuToggler">
                  <i class="material-icons icon expandView">view_list</i>
                  <span class="text">Resize</span>
                </a>
              </li>
            </ul>
      </div>
    </div>

    <div class="content">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="bg-mattBlackLight my-3 p-3 mx-0 rounded">
                <div class="text-center">
                  <img id="camDisplayBack" src="{{ url_for('static', filename='assets/noCamera.png') }}">
                  <img id="camDisplayFront" src="{{ url_for('static', filename='assets/noCamera.png') }}">
                </div>
                <div class="text-center mt-3">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="camera-source" value="mainCam" autocomplete="off" checked> Front
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="camera-source" value="bkpCam1" autocomplete="off"> Back
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script id="main_Script">
      $(document).ready(function () {
        // Set inital camera source
        $("#camDisplayFront").attr("src", "/videoFeed/mainCam");
        $("#camDisplayBack").attr("src", "/videoFeed/bkpCam1");

        // Make the back camera invisible
        $("#camDisplayBack").hide();

        // Switch image source based on radio buttons
        $('input[type=radio][name=camera-source]').change(function () {
          if (this.value == 'mainCam') {
            $("#camDisplayFront").show();
            $("#camDisplayBack").hide();

            // Reset camera sources incase it is not available
            $("#camDisplayFront").attr("src", "{{ url_for('static', filename='assets/noCamera.png') }}");
            $("#camDisplayFront").attr("src", "/videoFeed/mainCam");
          }
          else if (this.value == 'bkpCam1') {
            $("#camDisplayBack").show();
            $("#camDisplayFront").hide();

            // Reset camera sources incase it is not available
            $("#camDisplayBack").attr("src", "{{ url_for('static', filename='assets/noCamera.png') }}");
            $("#camDisplayBack").attr("src", "/videoFeed/bkpCam1");
          }
        });
      });
    </script>
</body>

</html>